<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFejszNVI3IxQmAxusC4SevbzQUFjGPgU</string>
	<key>GCM_SENDER_ID</key>
	<string>528721445773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshpanebianco.rnfitnessapp</string>
	<key>PROJECT_ID</key>
	<string>rn-fitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-fitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528721445773:ios:784c16f9f61f28d27bb3c4</string>
</dict>
</plist>